.container
{
    width: 100%;
    background-color: rgb(153, 153, 153);
    padding: 2% 8%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.container img
{
    width: 250px;
    height: 250px;
    object-fit: cover;
    margin: 0 auto;
    display: flex;
}

.row
{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.row h1
{
    text-align: center;
    font-size: 4vw;
    text-transform: uppercase;
    color: black;
    font-weight: bold;
}

.elo
{
    margin: 1% 1% 2.5% 1%;
    height: 250px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.ramka
{
    position: relative;
    float: right;
    padding: 10px;
}

.ramka::before, .ramka::after, .ramka>:first-child::before,
.ramka>:first-child::after
{
    position:absolute;
    width: 10%;
    height: 10%;
    border-color: rgb(250, 250, 250);
    border-style: solid;
    content: ' ';
}

.ramka:before {top:0;left:0;border-width: 3px 0 0 3px}
.ramka:after {top:0;right:0;border-width: 0 0 0 0}
.ramka>:first-child:before {bottom:0;right:0;border-width: 0 3px 3px 0}
.ramka>:first-child:after {bottom:0;left:0;border-width: 0 0 0 0}

.ramka img
{
    transition-property: all;
    transition-duration: 100ms;
    transition-timing-function: linear;
}

.ramka img:hover
{
    transform: scale(1.09, 1.09);
}

@media (min-width: 0px)
{
    .elo
    {
        width: 90%;
        margin: 1% 1% 8% 1%;
    }
}

@media (max-width: 700px)
{
    .row h1
    {
        font-size: 7vw;
    }
}

@media (min-width: 700px)
{
   .elo
    {
        width: 45%;
        float: left;
        margin: 1% 1% 5% 1%;
    }
}

@media (min-width: 1000px)
{
    .elo
    {
        width: 30%;
    }
}

@media (min-width: 1300px)
{
    .elo
    {
        width: 23%;
    }
}